.nextflow/
Aston*/
Excel_files_Uniprot/
ionbot_files/
mgf_files/
PXD*/
work/
.nextflow.log*
Miniconda*
*test.nf
Fastas_and_DB/
PRIDE_download.nf
fragpipe/
full_projects/
mastersets/
peptidoforms_per_cond/
Processed_ionbot_files/
__pycache__/
Synapse/*.RAW
FlashLFQ/
dotnet-install.sh
FlashLFQ.zip
zPXD*/
PDB_files/
searchgui/
Fragpipe_results/
ionbot_0.9.5/
pFind_results/
Comet_output/
quant_with_new_settings/
test/
XTandem_output/
peptideshakerCLI/
crux/
Mouse_proteome/
