.nextflow/
Aston*/
Excel_files_Uniprot/
ionbot_files/
mgf_files/
PXD*/
work/
.nextflow.log*
Miniconda*
*test.nf
Fastas_and_DB/
PRIDE_download.nf
fragpipe/
full_projects/
mastersets/
peptidoforms_per_cond/
Processed_ionbot_files/
__pycache__/
Synapse/*.RAW
FlashLFQ/
dotnet-install.sh
FlashLFQ.zip
zPXD*/
PDB_files/
searchgui/
Fragpipe_results/
ionbot_0.9.5/
pFind_results/
Comet_output/
quant_with_new_settings/
test/
XTandem_output/
peptideshakerCLI/
crux/
Mouse_proteome/
Clustering/
PCA_ML/
Paraquat/
Project_analysis/PXD022545.ipynb
Project_analysis/Fingerprint.ipynb
Project_analysis/more_analysis_AD.ipynb
RSA_data/
RSA_files/
Voor_vergelijking_OSE/OBV_lijst/
differentially_oxidized_psms/
pFind_results/
mbr_test.ipynb
nextflow.config
IceLogoPrep.py
XTandem2FlashLFQ.py
icelogo.ipynb
