.nextflow/
Aston*/
Excel_files_Uniprot/
ionbot_files/
mgf_files/
PXD*/
work/
.nextflow.log*
Miniconda*
*test.nf
Fastas_and_DB/
PRIDE_download.nf
fragpipe/
full_projects/
mastersets/
peptidoforms_per_cond/
Processed_ionbot_files/
__pycache__/
Synapse/*.RAW